.your-spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    gap: 10px;
    padding: 20px 40px;
}

.user-spot-message {
    justify-content: center
}

;

.user-address {
    font-size: 20px
}


.owned-indi-spot-name {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indi-spot-price {
    font-weight: 600;
}

.your-spots-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.your-indi-spot-info {
    margin-top: 10px;
    color: black;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.your-indi-spot-image {
    object-fit: cover;
    width: 298.67px;
    height: 287.79px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.your-owned-spots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 298px;
    padding: 10px;
    border: 3px solid #2423232a;
    border-radius: 15px;
    margin-bottom: 0px;
}

.your-spots-top-message {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}



.spots-link {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.spots-link:visited {
    text-decoration: none
}


.edit-listing {
    margin-right: 5px;
    padding: 9px;
    border-radius: 9%;
    border: 1px solid black;
    cursor: pointer;
    width: 110px;
    font-weight: 600
}

.delete-listing {
    margin-left: 5px;
    padding: 9px;
    border-radius: 9%;
    border: 1px solid black;
    cursor: pointer;
    width: 110px;
    font-weight: 600
}

.add-listing-btn {
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: #FF5A5F;
    color: white;
    font-size: 20px
}
