.your-spots-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0px 49px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center
}

.top-letters {
    align-self: center
}

.indi-base-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    width: 100%;
    height: 200%;
    column-gap: 50px;
    margin-top: 20px;
    margin: 0px 1000px
}

.spot-detail {
    max-height: 383.66px;
    max-width: 283.72;
    margin-top: 10px;
    margin-bottom: 20px
}

.nav-link {
    width: 298.66px;
}

.your-image {
    border-radius: 4%;
    width: 298.66px;
    height: 283px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    box-sizing: border-box;
    object-fit: fill;
    margin-bottom: 15px
}

.indi-spot-name {
    width: 298.66px
}

.indi-spot-ratings {
    width: 298.66px;
    text-overflow: ellipsis
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-listing-btn {
    height: 60px;
    width: 100px;
    font-size: 20px
}

.edit-listing {
    height: 100%;
    margin-right: 20px;
}

.mySpotButtons {
    display: flex;
    justify-content: space-between;
}
