.allSpots {
    display: flex;

    margin: 16px 0px 40px;
    max-width: 1024px;
    max-height: 768px;
    /* border: black 10px; */
}

.base-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    height: 100%;
    column-gap: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.individual-spot {
    max-height: 383.66px;
    max-width: 283.72;
    margin-top: 10px;
    margin-bottom: 20px
}

.link {
    max-width: 283.72px;

}

.image {
    border-radius: 4%;
    width: 298.66px;
    height: 283px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    box-sizing: border-box;
    object-fit: fill;
}

.description {
    text-decoration: none;
    color: black;
    margin-top: 11px;
    margin-left: 5px;
    font-size: 16px;
    display: flex;
    width: 296px;
    max-height: 100px
}

.right-side {
    width: 50%;
    text-align: end;
    margin-right: 10px
}

.left-side {
    width: 50%
}
