.bold-price {
    font-weight: 600;
}

.indi-price {
    margin-top: 4px;
}

.getAllSpots-indi-spot {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.indi-availability {
    margin-top: 1px
}

.getAllSpots-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-items: center;
    padding: 15px 80px;
    list-style: none;
    gap: 23px;
}

.indi-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 10px;
    margin-top: -3px;
}

.indi-spot-image {
    margin-top: 9px;
    object-fit: cover;
    border-radius: 14px;
    width: 290px;
    height: 265px;
    overflow: hidden;
    position: relative;

}


.getAllSpots-link {
    text-decoration: none;
}

.top {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 16px;
}

.indi-city-state {
    width: 220px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: hidden
}
