.all-spot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.indi-spot-availability {
    margin-top: -10px
}

.get-all-spots-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 20px;
    margin-left: 38px
}

.indi-spot-image {
    object-fit: cover;
    width: 287.67px;
    height: 267.73px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;

}


.indi-spot-link {
    text-decoration: none;
    color: inherit;
}

.indi-spot-city-state {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 11px;
    justify-content: space-between;
    font-weight: 600
}



.indi-spots {
    display: flex;
    flex-direction: column;
    max-width: 270px;
}

.indi-spot-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
}

.city-state {
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indi-price-per-night {
    margin-top: 4px;
    font-size: 16px;
}

.indi-price {
    font-weight: 650
}
