.edit-booking-form-container {
    width: 98.5vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.edit-booking-header {
    width: 20%;
    height: 13%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.edit-actual-form {
    width: 25%;
    height: 30%;
}

.DateInput {
    width: 45%;
    height: 100%;
    border: 1px solid black;
    margin-bottom: 3%
}

.DateRangePickerInput__withBorder {
    border: none
}

.bottom-stuff {
    text-align: center;
    border: 1px solid gray
}
