.profile-btn {
    margin-right: 50px;
    height: 42px;
    width: 77px;
    border-radius: 20%;
    font-size: 30px
}

.fa-solid.fa-person-running::before {
    height: 12px;
    width: 100%
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.home-button {
    align-self: flex-start
}

.nav-bar-unordered-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.navigation-logo {
    height: 40px;
    margin-left: 50px
}
