.button-to-log-in {
    margin-top: 20px;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px
}


.button-to-sign-in {
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px
}

.your-spots-button {
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px;
    margin-left: 40px
}

.button-to-log-out {
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: flex-end;
}

.profile-dropdown-with-no-user {}
