.button-to-log-in {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px;

}

.profile-btn {
    box-shadow: 2px 2px 5px #745e5edd;
}

.button-to-sign-in {
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px
}

.your-spots-button {
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px;
}

.button-to-log-out {
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #FF5A5F;
    color: white;
    font-size: 15px
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 999;
    width: 7vw;
    right: 3vw;
    height: 14vh;
}

.profile-dropdown li {
    list-style-type: none;
}


.profile-dropdown-with-no-user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 999;
    width: 6vw;
    right: 3vw;
    height: 11vh;
}

.profile-dropdown-with-no-user li {
    list-style-type: none;
}
