.one-spot {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
}

.da-spot-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.left-description {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
}


.top-section {
    text-align: start;
    margin-bottom: 0px;
    width: 80%;
    align-self: flex-start;
    height: 100%
}

.spot-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px
}

.sec-section {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34%;
    padding-right: 100px
}

.rating {
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold
}

.daplace {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold
}

.photos {
    display: flex;
    height: 52vh;
    width: 100%;
}

.spotImg {
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 3%
}

.mid-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 60%;
    justify-content: space-between;
}

.spot-information {
    width: 65%;
}

.first-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.first-left-first {
    font-weight: bold;
    font-size: 25px;
    align-self: center;
}

.user-pic {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    margin-right: 5px
}

.second-left {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 15vh;
    padding-bottom: 15px;

}

.self-check-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
}

.fa-solid.fa-door-open {
    font-size: 40px;
    height: 100%;
    margin-right: 20px
}

.checkin-text {
    align-self: flex-start
}

.checkin-text-first {
    font-weight: bold;
}

.checkin-text-last {
    color: gray
}

.cancellation {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
}

.fa-regular {
    font-size: 48px;
    height: 100%;
    margin-right: 20px
}

.cancel-text {
    align-self: flex-start
}

.cancel-text-first {
    font-weight: bold;
}

.cancel-text-last {
    color: gray
}

.third-left {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 13vh;
    padding-bottom: 15px;
    justify-content: space-between;
    padding-top: 15px;

}

.aircover {
    height: 30%;
    width: 25%;
    margin-bottom: 2%
}

.third-left-desc {
    font-size: 18px;
}

.fourth-left {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 12vh;
    padding-bottom: 15px;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.fourth-left-desc {
    font-size: 18px;
    text-overflow: ellipsis;
    height: 100%
}


.review-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    width: 60%;
}

.review-header {
    align-self: flex-start;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2vh
}

.bot-reviews-count {
    width: 200%;
    height: 20%
}

.individual-review {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 15vw;
}

.add-review {
    height: 40px;
    width: 100%;
}

.bot-reviews-count {
    width: 100%;
    height: 100%;
}

.review-top-part {
    display: flex;
    flex-direction: row;
    align-self: flex-start
}

.individual-review-storage {
    width: 90%;
    padding: 10px;
    align-self: flex-start
}

.review-date {
    margin-top: -10px;
    margin-bottom: -5px;
}

.delete-review-btn {
    width: 50%;
}

.bookingContainer {
    width: 30%;
}
