.photos {
    display: flex;
    justify-content: center;
    height: 80%;
}

.one-spot {
    display: flex;
    flex-direction: column;
    border: 20px black;
    padding: 0px 40px;
    justify-content: center;
}

.da-spot.container {
    display: flex;

}

.spotImg {
    width: 65%;
    height: 10%;
    padding: 0px 40px;
    align-self: center;
}

.left-description {
    display: flex;
    flex-direction: column;
    text-align: flex-start;

}

.left-bottom {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    margin: 0px;
    justify-content: space-around;
}

.top-section {
    text-align: center;
    margin-bottom: 0px;
    font-size: 18px;
}

.sec-section {
    text-align: center;
    font-size: 20px;
}


.left-description>h3 {
    text-align: flex-start;
    margin-bottom: -10px
}

.bot-reviews-count {
    width: 200%;
    height: 20%
}

.left-description {
    text-align: center;
}

.desc {
    margin-top: -8px;
}

.left-description>h4 {
    margin-top: -10px;
}

.review-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.individual-review {
    display: flex;
    flex-direction: column;
}

.add-review {
    height: 40px;
    width: 100%;
}

.bot-reviews-count {
    width: 100%;
    height: 100%;
}

.review-top-part {
    display: flex;
    flex-direction: column;
}

.individual-review-storage {
    width: 95%;
    margin-left: 100px;
    margin-bottom: 40px
}

.review-date {
    margin-top: -10px;
    margin-bottom: -5px;
}

.delete-review-btn {
    width: 10%;
}

.booking-calendar {
    border: 1px solid #B0B0B0;
    border-radius: 15px;
    background-color: white;
    top: 0px;
    height: fit-content;
    width: 700px;

    display: flex;
    box-shadow: 2px 2px 10px #AFAFAF;
    padding: 0px 10px 25px 10px;
}

.calenderContainer {
    width: 700px;
    height: fit-content;
    right: -30px;
    top: -90px;
    display: inline-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute
}

.rdrMonthAndYearPickers {
    visibility: hidden
}

.booking-calendar .rdrMonthAndYearWrapper {
    position: absolute;
    top: 74px;
    width: 96%;
    border: 5px solid black
}

.rdrDays {
    padding: 10px 0px !important;
}

.rdrDayNumber span {
    line-height: 18px;
    padding: 20px 0px !important
}

.rdrMonthName {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black !important;
}

.rdrDateDisplayWrapper {
    display: none
}

.rdrNextPrevButton {
    background-color: white !important
}
